## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Hasaki,JP,35.7333,140.8333,79.20,84,100,7.83,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,73.49,68,0,8.10,clear sky
2,2,Qaanaaq,GL,77.4840,-69.3632,38.32,98,100,4.81,light rain
3,3,Pevek,RU,69.7008,170.3133,40.91,88,100,3.40,overcast clouds
4,4,Hastings,GB,50.8552,0.5729,64.33,80,93,9.73,overcast clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Hasaki,JP,35.7333,140.8333,79.20,84,100,7.83,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,73.49,68,0,8.10,clear sky
5,5,Golden,US,39.7555,-105.2211,73.38,75,75,3.00,broken clouds
8,8,Touros,BR,-5.1989,-35.4608,76.10,84,12,12.12,few clouds
12,12,Fort Myers Beach,US,26.4520,-81.9481,79.00,95,75,1.01,broken clouds
15,15,Jamestown,US,42.0970,-79.2353,71.37,92,5,4.12,clear sky
17,17,Los Llanos De Aridane,ES,28.6585,-17.9182,70.12,82,75,16.11,broken clouds
28,28,Albany,US,42.6001,-73.9662,73.33,94,0,3.29,clear sky
34,34,Sibu,MY,2.3000,111.8167,73.71,94,40,5.75,light rain
36,36,Arraial Do Cabo,BR,-22.9661,-42.0278,71.08,84,6,21.16,clear sky

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                183
City                   183
Country                183
Lat                    183
Lng                    183
Max Temp               183
Humidity               183
Cloudiness             183
Wind Speed             183
Current description    183
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Hasaki,JP,35.7333,140.8333,79.20,84,100,7.83,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,73.49,68,0,8.10,clear sky
5,5,Golden,US,39.7555,-105.2211,73.38,75,75,3.00,broken clouds
8,8,Touros,BR,-5.1989,-35.4608,76.10,84,12,12.12,few clouds
12,12,Fort Myers Beach,US,26.4520,-81.9481,79.00,95,75,1.01,broken clouds
15,15,Jamestown,US,42.0970,-79.2353,71.37,92,5,4.12,clear sky
17,17,Los Llanos De Aridane,ES,28.6585,-17.9182,70.12,82,75,16.11,broken clouds
28,28,Albany,US,42.6001,-73.9662,73.33,94,0,3.29,clear sky
34,34,Sibu,MY,2.3000,111.8167,73.71,94,40,5.75,light rain
36,36,Arraial Do Cabo,BR,-22.9661,-42.0278,71.08,84,6,21.16,clear sky

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,
1,Rikitea,PF,73.49,clear sky,-23.1203,-134.9692,
5,Golden,US,73.38,broken clouds,39.7555,-105.2211,
8,Touros,BR,76.10,few clouds,-5.1989,-35.4608,
12,Fort Myers Beach,US,79.00,broken clouds,26.4520,-81.9481,
15,Jamestown,US,71.37,clear sky,42.0970,-79.2353,
17,Los Llanos De Aridane,ES,70.12,broken clouds,28.6585,-17.9182,
28,Albany,US,73.33,clear sky,42.6001,-73.9662,
34,Sibu,MY,73.71,light rain,2.3000,111.8167,
36,Arraial Do Cabo,BR,71.08,clear sky,-22.9661,-42.0278,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():


    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"



    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")    


hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
1,Rikitea,PF,73.49,clear sky,-23.1203,-134.9692,People ThankYou
5,Golden,US,73.38,broken clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"
8,Touros,BR,76.10,few clouds,-5.1989,-35.4608,INN NEW HORIZON
12,Fort Myers Beach,US,79.00,broken clouds,26.4520,-81.9481,Lani Kai Island Resort
15,Jamestown,US,71.37,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
17,Los Llanos De Aridane,ES,70.12,broken clouds,28.6585,-17.9182,Valle Aridane
28,Albany,US,73.33,clear sky,42.6001,-73.9662,
34,Sibu,MY,73.71,light rain,2.3000,111.8167,RH HOTEL (4 Star)
36,Arraial Do Cabo,BR,71.08,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [28]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
#Convert NaN values to empty string
hotel_df.replace("", nan_value, inplace=True)

hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
1,Rikitea,PF,73.49,clear sky,-23.1203,-134.9692,People ThankYou
5,Golden,US,73.38,broken clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"
8,Touros,BR,76.10,few clouds,-5.1989,-35.4608,INN NEW HORIZON
12,Fort Myers Beach,US,79.00,broken clouds,26.4520,-81.9481,Lani Kai Island Resort
15,Jamestown,US,71.37,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
17,Los Llanos De Aridane,ES,70.12,broken clouds,28.6585,-17.9182,Valle Aridane
34,Sibu,MY,73.71,light rain,2.3000,111.8167,RH HOTEL (4 Star)
36,Arraial Do Cabo,BR,71.08,clear sky,-22.9661,-42.0278,Pousada Porto Praia
42,Alice Springs,AU,71.15,scattered clouds,-23.7000,133.8833,Desert Palms Alice Springs

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))